# {{ ansible_managed }}
---
version: '3'
services:
  influxdb:
    image: "{{ influxdb_image }}"
    pull_policy: always
    container_name: influxdb
    networks:
      - {{ influxdb_docker_network }}
    volumes:
      - {{influxdb_host_data_path}}:/var/lib/influxdb2:rw
      - {{influxdb_host_config_path}}:/etc/influxdb2:rw
    environment: 
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ influxdb_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD={{ influxdb_password }}
      - DOCKER_INFLUXDB_INIT_ORG={{ influxdb_org }}
      - DOCKER_INFLUXDB_INIT_RETENTION={{ influxdb_retention }}
      - DOCKER_INFLUXDB_INIT_BUCKET={{ influxdb_bucket }}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ influxdb_token }}
    ports:
      - "{{influxdb_host_port}}:8086"

networks:
  {{ influxdb_docker_network }}:
    name: {{ influxdb_docker_network }}
    external: true
